* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.outer{

border-width: .3em;
border-style: solid;
border-color: black;

width:30rem;
height:39rem;
border-radius: .75rem;

margin-left:auto;
margin-right: auto;
margin-top:1rem ;
}


.display{
display:flex;
justify-content:right;
align-items: center;
font-size: 1.5rem;
border-radius: 2rem;
border-color: black;
border-style: solid;
width:25rem;
height:5rem;
margin-left: auto;
margin-top: 2em;
margin-right: auto;

}


.buttons{
height:24rem;
width: 27.5rem;
margin-left:2.5rem;
margin-top:1.25rem ;
margin-bottom:0.2rem ;
}

button{
width:8rem;
height:4.5rem;
border-radius: 2rem;
padding: auto;
margin-bottom:.23rem;

}

